/*Navigation Bar*/



.holder1{
  display: flex;
  width: 100%;
  height: 64px;
}

.navbar{
  display: flex;
  width: 100%;
  height: 65px;
justify-content: space-between;

}

 .picture1{
   width: 40px;
   height: 60px;
   border: 1px solid blue;
   background-image: url(../images/ic-logo.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin-left: 24px;
 }

 .title{
   display: flex;
   justify-content: center;
   border: 1px solid green;

 }

.words{
  display: flex;
  border: 1px solid green;
  align-self: center;
  font-size: 32px;
  font-family: sans-serif;
}

span:first-child {
  font-weight: bold;
  color: rgb(58, 57,69);
}

span:nth-child(2) {
  color: rgb(150, 147, 178);

}

.list{
  display: flex;
  align-self: center;
  border: 1px solid red;

font-size: 1.3rem;
color: rgb(77, 84,89);
}

.nav1, .nav2, .nav3 {
  display: flex;
  margin-right: 16px
}

.nav4{
  display: flex;
  margin-right: 16px;
}
/*Secound Section*/

.holder2{
  display: flex;
  width: 100%;
  height:650px;
  background-color: red;


}

.greyplacement{
  display: flex;
  width: 100%;
  height: 650px;
  border: 1px solid green;
  background-color: lightgrey;
}

.picture2{
  width: 60%;
  height: 600px;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 24px;
  margin-right: 24px;
}

.bannerdisc{
  display: flex;
  width: 30%;
  border: 1px solid blue;
  flex-direction: column;
  justify-content: center
}

.words2 h2{
  font-size:3rem;
  font-weight: bold;
  color: rgb(58, 57,69);
  font-family: sans-serif;
}

.words2 h3{
  font-size: 1.6rem;
  color: rgb(58, 57,69);
  font-family: sans-serif;
  margin-top: 2rem;
}

.boxxy{
  margin-top: 2rem;
  display: flex;
  border: 1px solid blue;
  height: 3rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(58, 57,69);
  color: white;
}
/*Third Section */

.holder3{
  display: flex;
  width: 100%;
  height: 650px;
  background-color: red;

}

.whiteplacement{
  display: flex;
  width: 100%;
  height: 650px;
  border: 1px solid green;
  background-color: white;
}

.half1{
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  width: 65%;
}

.picture3{
  width: 94%;
height: 80%;
background-image: url(../images/information-main.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin-top: 32px;
margin-bottom: 32px;
margin-left: 24px;
margin-right: 24px;
}


.words3 h2{
  margin-left: 24px;
  font-size:3rem;
  font-weight: bold;
  color: rgb(58, 57,69);
  font-family: sans-serif;
  border: 1px solid red;
  width: 90%;

}

.words4 h3{
  font-family: sans-serif;
  margin-top: 10px;
  margin-left: 24px;
font-size: 1.2rem;
width: 90%;
border: 1px solid red;
}
.words5 h4{
  font-family: sans-serif;
  font-size: 1.1rem;
  margin-left: 24px;
    margin-top: 10px;
    margin-bottom: 32px;
    border: 1px solid red;
    width: 60%;
}


.half2{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 37%;
}
.sidecontainer1{
  border: 1px solid green;
  height: 40%;
  display: flex;

}

.picture4{
  width: 40%;
height:80%;
background-image: url(../images/information-orientation.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin-top: 1rem;
margin-left: 1rem;
}

.words6{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.words6 li:first-child {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(58, 57,69);
  font-family: sans-serif;
  margin-left: 1.1rem;
}


.words6 li:nth-child(2){
  font-family: sans-serif;
  font-size: 1rem;
  margin-left: 1.1rem;
  margin-top: 1rem;
}

.words6 li:nth-child(3){
  font-family: sans-serif;
  font-size: 1rem;
  margin-left: 1.1rem;
  margin-top: 1rem;
  color: blue;
}


.sidecontainer2{
  border: 1px solid green;
  height: 40%;
  display: flex;
}

.words7{
  display: flex;
  flex-direction: column;
  align-self: center;
}


.words7 li:first-child {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(58, 57,69);
  font-family: sans-serif;
  margin-left: 1.1rem;
}


.words7 li:nth-child(2){
  font-family: sans-serif;
  font-size: 1rem;
  margin-left: 1.1rem;
  margin-top: 1rem;
}

.words7 li:nth-child(3){
  font-family: sans-serif;
  font-size: 1rem;
  margin-left: 1.1rem;
  margin-top: 1rem;
  color: blue;
}


.picture5{
  width: 40%;
height:80%;
background-image: url(../images/information-campus.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin-top: 1rem;
margin-left: 1rem;
}

.sidecontainer3{
  border: 1px solid green;
  height: 40%;
  background-color: lightgrey;
  display: flex;
}

.picture6{
  width: 70%;
height:80%;
background-image: url(../images/information-guest-lecture.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin-top: 1rem;
margin-left: 1rem;
}
.words8{
  display: flex;
  flex-direction: column;
  align-self: center;
}
.words8 li:first-child {
  font-weight: bold;
  font-size: 1.8rem;
  color: rgb(58, 57,69);
  font-family: sans-serif;
  margin-left: 1.1rem;
}


.words8 li:nth-child(2){
  font-family: sans-serif;
  font-size: 1rem;
  margin-left: 1.1rem;
  margin-top: 1rem;
}

.words8 li:nth-child(3){
  font-family: sans-serif;
  font-size: 1rem;
  margin-left: 1.1rem;
  margin-top: 1rem;
  color: blue;
}

/*Section 4*/
.holder4{
  display: flex;
width: 100%;


}

.greyplacement2{
  display: flex;
  height: 100px;
  width: 100%;
  background-color: lightgrey;
}
